@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Regular.ttf") format("ttf");
  font-weight: 400;
}

@media (min-width: 576px) and (max-width: 1169.9px)
{
  .burger
  {
    display: block !important;
  }

  .header
  {
    padding-top: 8px !important;
    height: auto !important;
  }

  .nav
  {
    display: none;
  }

  .background
  {
    height: 868px !important;
  }

  .hero
  {
    height: 562px !important;
  }

  .hero_title
  {
    font-size: 72px !important;
  }

  .form {
    width: auto !important;
  }

}

@media (max-width: 1200px)
{
  .advantages_list
  {
    flex-wrap: wrap;
  }

  .advantages_list:nth-child(2n)
  {
    margin-right: 0 !important;
  }
}

@media (max-width: 940px) {
  .right_column
  {
    display: none;
  }

  .left_column
  {
    width: 100% !important;
  }

  .service_item_icon
  {
    display: none;
  }
}

*, *::before, *::after
{
  box-sizing: border-box;
}

html
{
  height: 100vh;
  scroll-behavior: smooth;
}

body
{
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.burger
{
  display: none;
}

.header {
  max-width: 1170px;
  min-width: 746px;
  height: 132px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-top: 26px;
  margin: 0 auto;
}

.background {
  position: absolute;
  background-color: #999999;
  height: 1031px;
  width: 100%;
  display: flex;
}

.backgorund_image {
  max-width: 100%;
  width: inherit;
  object-fit: fill;
  flex-shrink: 0;
}

.shape
{
  display: block;
  position: absolute;
  bottom: 0;
  width: 0px;
  height: 0px;
  border-top: 128px solid transparent;
  border-bottom: 0px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  z-index: 1;
}

.slide
{
  display: block;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 1s;
  transition-delay: 200ms;
  width: 100%;
  height: 100%;
  background-position: center;
}

#first_slide
{
  background: url('/assets/images/Layer\ 5.png');
}


#second_slide
{
  background: url('/assets/images/mountains1.png');
}


#third_slide
{
  background: url('/assets/images/mountains2.png');
}

.slide[data-active]
{
  opacity: 1;
  transition-delay: 0;
}

.carousel-button
{
  position: absolute;
  z-index: 2;
  border: none;
  top: 40%;
  transform: translateY(-30%);
  color: #fff;
  width: 46px;
  height: 46px;
}

.carousel-button.prev
{
  left: 1rem;
  background: url('/assets/images/slide-button.png');
  transition: .5s;
}

.carousel-button.prev:hover
{
  background: url('/assets/images/focused-slide-button.png');
  transition: .5s;
}

.carousel-button.next
{
  right: 1rem;
  background: url('/assets/images/slide-button.png');
  transform: rotate(180deg);
  transition: .5s;
}

.carousel-button.next:hover
{
  background: url('/assets/images/focused-slide-button.png');
  transform: rotate(180deg);
  transition: .5s;
}

.nav 
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_burger
{
  display: flex;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  background-color: rgba(0, 0, 0, .7);
  padding: 32px 0;
  height: 100vh;
}

.nav_burger > .nav_item
{
  margin-right: 16px !important;
}

.nav_item:not(:last-child)
{
  margin-right: 58px;
}

.nav_link:hover 
{
  text-shadow: 0 0 .9px #E74C3C, 0 0 .9px #E74C3C;
  color: #E74C3C;
  border-bottom: 1px solid #E74C3C;
  padding-bottom: 17px;
}

.nav_link 
{
  color: #fff;
  text-align:center;
  text-transform: uppercase;
  display:inline-block;
  text-decoration: none;
  padding: 18px 0;
}

.hero 
{
  max-width: 1170px;
  height: 732px;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.legend
{
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 700;
}

.hero_title
{
  margin-bottom: 46px;
  font-size: 96px;
  font-weight: 700;
}

.separator
{
  margin-bottom: 46px;
}

.hero_description
{
  font-size: 19px;
  text-align: center;
  width: 600px;
  line-height: 32px;
}

.hero_buttons 
{
  margin-top: 70px;
}

.hero_button, .hero_button-primary {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  width: 225px;
  height: 56px;
  text-align: center;
  text-decoration: none;
  line-height: 56px;
}

.hero_button-primary
{
  background-color: #E74C3C;
  margin-right: 24px;
}

.hero_button
{
  border: 1px solid #fff;
}

.hero_form_button
{
  position: absolute;
  left: calc(50vw - 38px);
  bottom: -38px;
  z-index: 1;
}

.advantages
{
  background-color: #fff;
  width: 100%;
  height: 442px;
  display: flex;
  margin-top: 175px;
}

.advantages_list
{
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advantages_item_icon
{
  transition: .51s;
}

.advantages_separator
{
  display: inline-block;
  border-bottom: 1px solid #999999;
  width: 40px;
  margin-bottom: 18px;
}

.advantages_item 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 56px;
  width: 254px;
}

.advantages_item:hover .advantages_item_title
{
  color:#E74C3C;
}

.advantages_item:hover .icon_container
{
  border-color: #E74C3C;
  transform: rotate(45deg);
  transition: .5s;
}

.advantages_item:hover .advantages_item_icon
{
  transform: rotate(-45deg);
  transition: .51s;
}

.advantages_item:last-child
{
  margin-right: 0px;
}

.advantages_item_title
{
  margin-bottom: 20px;
  font-size: 18pt;
  font-weight: 600;
  color: #6a6a6a;
}

.advantages_description
{
  text-align: center;
  font-size: 12pt;
  color: #999999;
  font-family: "Open Sans Pro","Open Sans", sans-serif;
  line-height: 20pt;
  width: 100%;
}

.icon_container
{
  width: 72px;
  height: 72px;
  border: 1px solid #999999;
  margin-bottom: 32px;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services
{
  height: 768px;
  display: flex;
  flex-direction: row;
}

.left_column 
{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #1f1f1f;
  justify-content: center;
  position: relative;
}

.right_column
{
  background: url('/assets/images/Layer\ 3.png');
  width: 50%;
  background-color: #202020;
}

.services_title
{
  font-family: "Open Sans Pro","Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin-right: 20px;
}

.services_header
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 76px;
}

.services_separator
{
  height: 36px;
  width: 6px;
  background-color: #E74C3C;
  margin-right: 80px;
}

.services_list
{
  display: flex;
  flex-direction: column;
}

.services_item
{
  text-align: right;
  margin-right: 80px;
  margin-bottom: 72px;
  display: flex;
  flex-direction: row;
  max-width: 655px;
}

.services_item:last-child
{
  margin-bottom: 0;
}

.services_item_title
{
  color: #E74C3C;
  font-family: "Open Sans Pro","Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.services_item_description
{
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans Pro","Open Sans", sans-serif;
  line-height: 29px;
}

.service_item_icon
{
  position: absolute;
  right: -37px;
}

.promo
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 480px;
  color: #fff;
  background-color: #202020;
  position: relative;
  width: 100%;
  background: url('/assets/images/background-promo.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.promo_title,
.promo_description,
.promo_button
{
  z-index: 1;
}

.promo_title
{
  font-size: 36pt;
  margin-bottom: 20px;
}

.promo_title span
{
  font-weight: 700;
}

.promo_description
{
  font-size: 18pt;
  margin-bottom: 68px;
}

.promo_button
{
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  width: 225px;
  height: 56px;
  text-align: center;
  text-decoration: none;
  line-height: 56px;
  background-color: #E74C3C;
  color: #fff;
}

.footer
{
  position: relative;
  background-color: #202020;
}

.footer_content
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.socials_list
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 34px 0;
  
}

.socials_item
{
  width: 21px;
  height: 21px;
  margin-right: 16px;
}

.socials_item_link
{
  width: 21px;
  height: 21px;
}

.socials_item:last-child
{
  margin-right: 0;
}

.footer_author
{
  margin: 34px 0;
  color: #7b7b7b;
}

.button_to_home
{
  position: absolute;
  right: 56px;
  top: -31px;
}

.feedback_header
{
  text-align: center;
}

.feedback_form
{
  background-color: #f4f5f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1038px;
}

.feedback_content
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.feedback_contacts,
.feedback_fields
{
  padding: 98px 90px;
}

.feedback_contacts
{
  background-color: #fff;
  margin-right: 28px;
}

.feedback_contacts_item
{
  margin-bottom: 70px;
}

.feedback_contacts_item:last-child
{
  margin-bottom: 0px;
}

.feedback_contacts_item h3
{
  color: #E74C3C;
  font-family: "Open Sans Pro","Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 28px;
}

.feedback_contacts_item a
{
  color: #999999;
  font-size: 16px;
  text-decoration: none;
}

.feedback_fields
{
  background-color: #fff;
}

.form
{
  display: flex;
  flex-direction: column;
  width: 475px;

}

.form > input,
.form > textarea
{
  border: none;
  border-bottom: 1px solid #999999;
  padding-bottom: 20px;
  margin-bottom: 28px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transition: 0.5s;
  overflow: auto;
}

.form > input:focus,
.form > textarea:focus
{
  border-bottom: 1px solid #E74C3C;
  transition: .5s;
}

.form > input::placeholder,
.form > textarea::placeholder
{
  color: #999999;
}

.form > input:focus::placeholder,
.form > textarea:focus::placeholder
{
  color: #E74C3C;
  transition: .5s;
}

.form > button
{
  background-color: #E74C3C;
  border: none;
  padding: 17px 26px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  width: 200px;
}

.feedback_title
{
  font-family: "Open Sans Pro","Open Sans", sans-serif;
  font-size: 36px;
  color: #6a6a6a;
  font-weight: 700;
  margin-bottom: 32px;
}

.feedback_description
{
  font-size: 14px;
  color: #999999;
  margin-bottom: 26px;
}

.feedback_separator
{
  margin-bottom: 66px;
}
