*, *::before, *::after
{
  box-sizing: border-box;
}

html
{
  height: 100vh;
  scroll-behavior: smooth;
}

body
{
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-color: #fff;
}

.burger
{
  display: none;
}

.header {
  max-width: 1170px;
  min-width: 746px;
  height: 132px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-top: 26px;
  margin: 0 auto;
  transition: .2s;
}

.background {
  position: absolute;
  background-color: #999999;
  height: 1031px;
  width: 100%;
  min-width: 746px;
  display: flex;
}

.backgorund_image {
  max-width: 100%;
  width: inherit;
  object-fit: fill;
  flex-shrink: 0;
}

.shape
{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-top: 128px solid transparent;
  border-bottom: 0px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  z-index: 1;
}

.slide
{
  display: block;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 1s;
  transition-delay: 200ms;
  width: 100%;
  height: 100%;
  background-position: center;
}

#first_slide
{
  background: url('/assets/images/Layer\ 5.png');
}


#second_slide
{
  background: url('/assets/images/mountains1.png');
}


#third_slide
{
  background: url('/assets/images/mountains2.png');
}

.slide[data-active]
{
  opacity: 1;
  transition-delay: 0;
}

.carousel-button
{
  position: absolute;
  z-index: 2;
  border: none;
  top: 40%;
  transform: translateY(-30%);
  color: #fff;
  width: 46px;
  height: 46px;
}

.carousel-button.prev
{
  left: 1rem;
  background: url('/assets/images/slide-button.png');
  transition: .5s;
}

.carousel-button.prev:hover
{
  background: url('/assets/images/focused-slide-button.png');
  transition: .5s;
}

.carousel-button.next
{
  right: 1rem;
  background: url('/assets/images/slide-button.png');
  transform: rotate(180deg);
  transition: .5s;
}

.carousel-button.next:hover
{
  background: url('/assets/images/focused-slide-button.png');
  transform: rotate(180deg);
  transition: .5s;
}

.nav 
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav.active
{
  display: flex;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  background-color: rgba(0, 0, 0, .7);
  padding: 32px 0;
  height: 100vh;
}

.nav.active > .nav_item
{
  margin-right: 16px !important;
}

.nav_item:not(:last-child)
{
  margin-right: 58px;
}

.nav_link:hover 
{
  text-shadow: 0 0 .9px #E74C3C, 0 0 .9px #E74C3C;
  color: #E74C3C;
  border-bottom: 1px solid #E74C3C;
  padding-bottom: 17px;
}

.nav_link 
{
  color: #fff;
  text-align:center;
  text-transform: uppercase;
  display:inline-block;
  text-decoration: none;
  padding: 18px 0;
}

.hero 
{
  max-width: 1170px;
  height: 732px;
  min-width: 746px;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero .legend .hero_title
{
  min-width: 746px;
}

.legend
{
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 700;
}

.hero_title
{
  margin-bottom: 46px;
  font-size: 96px;
  font-weight: 700;
}

.separator
{
  margin-bottom: 46px;
}

.hero_description
{
  font-size: 19px;
  text-align: center;
  width: 600px;
  line-height: 32px;
}

.hero_buttons 
{
  margin-top: 70px;
}

.hero_button, .hero_button-primary {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  width: 225px;
  height: 56px;
  text-align: center;
  text-decoration: none;
  line-height: 56px;
}

.hero_button-primary
{
  background-color: #E74C3C;
  margin-right: 24px;
}

.hero_button
{
  border: 1px solid #fff;
}

.hero_form_button
{
  position: absolute;
  left: -38px;
  bottom: -38px;
  z-index: 1;
}

.footer
{
  position: relative;
  background-color: #202020;
}

.footer_content
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.socials_list
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 34px 0;
  
}

.socials_item
{
  width: 21px;
  height: 21px;
  margin-right: 16px;
}

.socials_item_link
{
  width: 21px;
  height: 21px;
}

.socials_item_link img
{
  width: 21px;
  height: 21px;
}

.socials_item:last-child
{
  margin-right: 0;
}

.footer_author
{
  margin: 34px 0;
  color: #7b7b7b;
}

.button_to_home
{
  position: absolute;
  right: 56px;
  top: -31px;
}


@media (max-width: 1169.9px)
{
  .burger
  {
    display: block;
  }

  .burger.active
  {
    display: none;
  }

  .header
  {
    padding-top: 8px;
    height: auto;
  }

  .nav
  {
    display: none;
  }

  .background
  {
    height: 868px;
  }

  .hero
  {
    height: 562px;
  }

  .hero_title
  {
    font-size: 72px;
  }

  .form {
    width: auto;
  }

}

@media (max-width: 1200px)
{
  .advantages
  {
    height: 800px;
  }

  .advantages_list
  {
    flex-wrap: wrap;
    margin-top: 120px;
    margin-bottom: 120px;
    justify-content: center;
  }

  .advantages_item:nth-child(2)
  {
    margin-right: 0 !important;
  }
}

@media (max-width: 940px) {
  .right_column
  {
    display: none;
  }

  .left_column
  {
    width: 100%;
  }

  .service_item_icon
  {
    display: none;
  }
}
